html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: auto;

    padding: 0.5em;

}

.notes-content{
    padding: 0.5em 4em;
    border: 2px solid black;

    font-family: 'Roboto', sans-serif;
    line-height: 1.6em;
    font-size: 1.5em;
}

/* Prompt before text */
.notes-content .prompt {
    display: none;
}

.notes-content h1 {
    text-align: center;
}

/* Code block */
.notes-content div.input_area > div.highlight {
    background-color: #22323a;
    color: #cdd3de;
    padding: 1em;
}

.notes-content #TOC {
    border: 1px solid #a2a9b1;
    background-color: #efecec;
    font-size: 95%;
}

.notes-content #TOC h1 {
    text-align: center;
    font-size: 1.5em;
}

/* Code Style */
pre.sourceCode {
    background-color: #22323a;
    color: #cdd3de;
    padding: 1em;
}

code.sourceCode .kw, code.sourceCode .cf {
    /* Keyword */

    color: #c594c5;
}

code.sourceCode .dt {
    /* Data type */

    color: #c594c5;
}


code.sourceCode .fu {
    /* Functions */

    color: #4d7fb5;
}


code.sourceCode .st {
    /* String */

    color: #99c794;
}

code.sourceCode .dv, code.sourceCode .fl {
    /* Constant */

    color: #f99157; 
}

code.sourceCode .co {
    /* comments */

    color: #65737e;
}
/* /Code Style */

/* BlockQuote */
blockquote{
    font-size: 1.4em;
    font-family:Open Sans;
    font-style:italic;
    color: #555555;
    padding:1.2em 30px 1.2em 75px;
    border-left:8px solid #78C0A8 ;
    line-height:1.6;
    position: relative;
    background:#EDEDED;
  }
  
  blockquote::before{
    font-family:Arial;
    content: "\201C";
    color:#78C0A8;
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
  }
  
  blockquote::after{
    content: '';
  }
  
  blockquote span{
    display:block;
    color:#333333;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
  }
/* /BlockQuote */

/* Tables */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #08425f;
    color: white;
}

/* /Tables */


/* Definition List */

dl {
    margin: 0;
    padding: 0;
}

dt {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

dd {
    margin: 0 0 1em 1em;
    padding: 0;
}

/* /Definition List */

@media only screen and (max-width: 992px) {
    .notes-content {
        font-size: 3em;
        padding: 0.5em;
    }    
}